[2021-02-19 23:56] Therecanbeonlyone1969 opened #1 "Initial API Spec Draft in Open API 3.0 format"

[2021-02-20 00:47] kthomas commented on #1
This issue most certainly would be split up under normal circumstances but it aims to capture a significant amount of prior work to standup the formal draft specification based on [this](https://docs.google.com/spreadsheets/d/1ecLXGb1BnDfTZfwo-mULAUMTEWMxQt0ibOIazEicx9g/edit) set of requirements.

[2021-02-24 13:21] Consianimis opened #2 "Specs - Glossary Draft"
### Purpose

Glossary to be included in API and CORE specs.

**The Baseline Protocol:**

The Baseline Protocol is a set of methods that enable two or more state machines to achieve and maintain data consistency, and workflow continuity by using a network as a common frame of reference.

**Common frame of reference:**

Proposed: Baselining is a methodology for achieving and maintaining data consist

[2021-02-24 13:30] Consianimis opened #3 "API Spec - Design & Architecture"
**Purpose:**

Provides architectural principles and design of the API.
API & Microservices diagram to be included.

**Brainstorm:**

 Key design principles:
- microservice architecture
-  extensibility where necessary
- backend used for interservice communication.
- RPC interfaces
- Instances of the interfaces created with different libraries should be interoperable.
- Interfaces may have addition

[2021-02-24 13:31] Consianimis opened #4 "API Spec - Security Considerations"
**Purpose:**

Describes security topics that should be important but that are NOT requirements.

[2021-02-24 13:32] Consianimis opened #5 "API Spec - Conformance"
**Purpose:**

Describes the conformance criteria that apply to Baseline API implementations and usage.

We should discuss API Conformance Levels, Minimal Conformance Level and Conformance Testing.

[2021-02-24 13:34] Consianimis commented on #1
This should include both interfaces and data model(s).

[2021-02-24 13:37] Consianimis opened #6 "CORE Spec - Communication Component - Architecture"
**Purpose:**

Describes the logical architecture (presented as two abstract services - Authentication & Authorization and Message Delivery) that allows parties to send and receive messages securely.

[2021-02-24 13:38] Consianimis opened #7 "CORE Spec - Communication Component - Authentication & Authorization"
**Purpose:**

Defines the requirements for the Authentication service responsible for establishing and maintaining the connection between verified parties.

**Brainstorm:**

MUST support ‘mutual’ authentication to establish trust between parties.
MUST have access to a provider of trusted mapping from parties identities to identity keys.

[2021-02-24 13:39] Consianimis opened #8 "CORE Spec - Communication Component - Message Delivery"
**Purpose:**

Defines the requirements for the Delivery service responsible for exchanging messages between verified parties.

**Brainstorm:**

MUST implement XYZ Protocol Messages (types, formats, queues, inbound, outbound).
Automated message validation
Messaging Endpoints - SHOULD be distinct from system of record.
MUST provide monitoring funct., audit log database, error handling etc
Do you nee

[2021-02-24 13:39] Consianimis opened #9 "CORE Spec - Communication Component - Performance"
**Purpose:**

Describes the performance requirements for the Communication component.

[2021-02-24 13:40] Consianimis opened #10 "CORE Spec - Privacy & Confidentiality Component - Privacy"
**Purpose:**

Describes mechanisms ensuring that only information relevant to the transaction and pre-agreed by verified parties is used to its purpose.

[2021-02-24 13:41] Consianimis opened #11 "CORE Spec - Privacy & Confidentiality Component - Confidentiality"
**Purpose:**

Describes the mechanisms ensuring that other parties (i.e parties outside of transaction) are prevented from accessing data that they are not authorized to access.

**Brainstorm:**

MUST support end to end encryption to ensure confidentiality.
MUST ensure non-repudiation of the transaction (non repudiation of origin and receipt).

[2021-02-24 13:42] Consianimis opened #12 "CORE Spec - Privacy & Confidentiality Component -"
**Purpose:**

Describes the mechanisms ensuring that other parties (i.e parties outside the context of a state change induced by a transaction) have no knowledge of the state changes, associated transactions and their terms (no on-chain disclosure or leakage of off-chain business data)

[2021-02-24 13:43] Consianimis opened #13 "CORE Spec - Agreement Execution Component - Business Logic Development"
**Purpose:**

Describes the requirements for the development of business rules that define what and how workflows are executed.

**Brainstorm:**

Shared agreement: up to each workgroup to agree on business logic
Shielding: up up to each workgroup to determine a suitable shielding mechanism.

[2021-02-24 13:43] Consianimis opened #14 "CORE Spec - Agreement Execution Component - Business Logic Execution"
**Purpose:**

Describes the mechanisms supporting the execution of the agreed business logic.

**Brainstorm:**

Workgroup, Workflows, Worksteps
Deterministic state transition -  business rules chaining and sequenced execution, Event-driven
MUST Proof of correct execution onchain
Circuit breaker
Portability
Interoperability
Execution/Process monitoring

[2021-02-24 13:47] Consianimis opened #15 "CORE Spec - Governance Component - Governance Model"
**Purpose:**

Describes the requirements for a governance model.

**Brainstorm:**

Change Control - requirements for introducing change in a controlled and coordinated manner for each functional layer.
Constitution and changes to workgroups, constitution and changes to business logic, constitution and changes to workflows
Determination of and execution of dispute process. for example, realization

[2021-02-24 13:48] Consianimis opened #16 "CORE Spec - Security Considerations - Data Privacy"
**Purpose:**

Provides a list of considerations related to data privacy.

**Brainstorm:**

The standard does not set any requirements for compliance to jurisdiction legislation/regulations, responsibility of the implementer to comply to applicable data privacy laws.

[2021-02-24 13:48] Consianimis opened #17 "CORE Spec - Security Considerations - GA/Production Readiness"
**Purpose:**

Provides a list of considerations related to the use of underlying protocols/applications/tools etc.

**Brainstorm:**

The standard does not set any requirements for the use of specific applications/tools/libraries etc.
Examples included in standard to be non-normative.
The implementer should perform due diligence when selecting tools, libraries etc. For example, when implementing ZK

[2021-02-24 13:50] Consianimis opened #18 "CORE Spec - Conformance Component"
**Purpose**

Describes the conformance clauses and tests required to achieve baseline compliant implementations.

**Brainstorm:**

Conformance targets : Defines entities and implementations subject to conformance (State machine/System of record/Adapter, Baseline solutions provider)

Conformance levels: Defines conformance levels and their conformance clauses.

Interoperability: Describes interoper

[2021-02-24 14:10] Consianimis opened #20 "CORE Spec - Org Management Component - Identity Management"
**Purpose:**

Describes process requirements for Identity Management.

**Brainstorm**

Need to address below list of processes:

RequestIdentity - #22 - Should

CreateIdentity - Must

RegisterIdentity  - Must

GetRegisteredIdentity  - Must
Prerequisites and requirements

RequestUpdateIdentity  - Must

UpdateIdentity  - Must

RevokeIdentity  - Must

RequestIdentityPresentation  - Must

RecoverIdent

[2021-02-25 10:58] Consianimis opened #21 "MVB Interfaces review"
**Purpose:**

The purpose is to have the list of the required interfaces for a MVB ('minimum viable baseline') implementation. We have already determined that some interfaces in CORE and the different BRIs may be deprecated and others may have been updated.

[2021-02-25 16:14] Consianimis opened #22 "CORE Spec - Org Management Component - Identity Management - RequestIdentity"
1- Use a trustable phonebook to retrieve the organization DID
1.1 - Option 1 (DNS as trust anchor): Use the .well-known DID configuration spec from DIF
1.2 - Elect a trustable authority to manage the phonebook in a centralized way
1.3 - In both solution, identity can be enriched with VCs.
2- Resolve the DID to retrieve the listed services endpoints
2.1 - Baseline endpoints should have the "type" w

[2021-02-25 17:37] Therecanbeonlyone1969 commented on #22
Suggested prerequisites before request identity can be called, and we can put these requirements in the relevant identity section:

The following requirements must be fulfilled before the RequestIdentity API can be successfully invoked:
- The requesting entity MUST have a unique identifier
- Any unique identifier MUST be associated with a set of public keys.
- Any unique identifier MUST be discove

[2021-03-01 14:58] caleteeter commented on #20
I am starting some brainstorming and collecting some thoughts [here](https://hackmd.io/l2NQN5xAQLyBGXhobmKEYQ)

[2021-03-04 09:59] Consianimis commented on #2
Definitions included in this issue have already been reviewed and discussed by the team. New definitions need to be added as appropriate.

[2021-03-04 16:11] Consianimis opened #23 "Check Restrictions - iCLA signature required for issue creation, comments and PRs."

[2021-03-09 10:04] AshCos opened #24 "Subject matter experts: recruit"

[2021-03-09 15:27] Consianimis opened #25 "Update Readme.md - Add OASIS specs template to repo"

[2021-03-10 15:36] Consianimis commented on #24
Requirements:
- Contributors to the standards and specs working group can be technical or non-technical depending on the task.
- Willing to commit to at least 2-3 hours per week.
    (weekly 1hr meeting + specs contribution + peer reviews)
- Moderate understanding of the existing state of the Baseline Protocol and how the protocol can be useful.
    (can be demonstrated by discussing use cases, sh

[2021-03-10 15:45] Consianimis commented on #24
@AshCos  - Currently we are particularly looking for people with expertise in data transformation and mapping.

[2021-03-11 13:13] awoie commented on #22
What is the difference between `RequestIdentity` and `CreateIdentity`? IMO, I don't see where a dedicated `RequestIdentity` protocol message is required. Couldn't we just merge whatever people envision for `RequestIdentity` into `CreateIdentity`?

[2021-03-11 13:38] awoie commented on #22
Please find my comments below but note that I'm not sure if this belongs to `RequestIdentity` or to `CreateIdentity`. IMO, both might have to be merged.

Agree with the above.

Couldn't this be part of Baseline Protocol Standard messaging? There will be protocol message that provides you with the Baseline version the endpoint understands.

If we want to be transport-agnostic, what is Protocol Stan

[2021-03-11 13:53] Consianimis opened #26 "CORE Spec - Schema Management Component -"
**Brainstorm:**

Should the standard address requirements that ensure that counterparties send and receive data as per initial 'agreed' schema or should this be out of scope?

Is there a need for a Baseline Protocol schema management framework?
- schema versioning
- manage data constraints
- manage schema changes, perform changes to data types.

Would those be the requirements of a Baseline-connec

[2021-03-11 15:54] Therecanbeonlyone1969 commented on #22
@awoie ... the reason why there are 2 APIs is driven by different stack operating models.

- Model 1: The identity requester is ALSO the stack operator in that case only 1 API is necessary
- Model 2: The identity requester is NOT the stack operator in that case you need 2 APIs, one to request the identity from the operator and the second one to actually create the identity

Happy to reduce to 1 AP

[2021-03-11 15:57] Therecanbeonlyone1969 commented on #22
@awoie we can just say:

A unique identifier used in the Baseline Protocol MUST be resolvable to an endpoint as a URI.

[2021-03-11 15:59] Therecanbeonlyone1969 commented on #22
Yes, we will have to recommend options but in the end it is up to the implemented what type of legal entity credential they accept.

[2021-03-11 16:01] Therecanbeonlyone1969 commented on #22
@awoie ... we could but we do not have to. We can make recommendations for example through a may/should recurement and then make conditional requirements a must where we specify specific schemas. We do not have to though.

[2021-03-11 16:04] Therecanbeonlyone1969 commented on #22
@awoie ... the RevocationList2020 ... you only need to URI and credential id to ascertain the status but not the credential itself. And the 2nd one just says that it would be easier if the whole thing is discoverable then you can use the credentialStatus property for status validation

[2021-03-11 16:07] Therecanbeonlyone1969 commented on #22
Holder might be a delegate of the requesting party.

All is assumed to exist prior to the process.

You are welcome to create one ;-)

@awoie

[2021-03-11 16:09] #2 closed

[2021-03-11 16:09] #25 closed

[2021-03-11 16:12] Consianimis opened #27 "Proposal to change number of reviewers from 3 to 2."
**Purpose:**

There are currently three approvers needed on the baseline-standard repo. We agreed during the standards call on the 11th of March to bring that number down to 2. The TSC had already approved the same request on the main baseline repo. According to @humbitious, no need to ask again.

[2021-03-11 16:45] Consianimis opened #28 "CORE Spec - Org Management Component - Identity Management - High level diagrams"
**Purpose:**

The purpose is to provide non-normative examples of different identity management architectures that the Baseline Protocol specification Must/Should support. Assumptions for each architecture should be documented and high-level diagrams should be provided.
- federated identity management architecture
- decentralized identity management architecture
- other proposed ?

[2021-03-11 16:59] Consianimis opened #29 "Improve new joiners onboarding - Cookbook - Q&A"

[2021-03-12 13:33] Consianimis commented on #27
@Therecanbeonlyone1969, @humbitious - Could one of you implement the settings to reflect the above please ? Thanks.

[2021-03-12 13:48] Consianimis opened #30 "Add Operating models definitions + respective high level diagrams"
**Purpose:**

A baseline-compliant implementation can be self-operated or operated by a third party on behalf of many clients.
During the working sessions, we often have to clarify and differentiate those as some requirements may vary depending on the model so I submit a proposal to include:
- definitions of the different operating models in the glossary
- high level operating models diagrams in t

[2021-03-12 14:50] Consianimis commented on #21
@bitwiseguy - Do you think you will be able to work on this issue for review Thursday 18th March?

[2021-03-12 17:51] Therecanbeonlyone1969 commented on #27
I agree with this request -- @kthomas @humbitious  -- please submit your vote.

[2021-03-12 17:53] Therecanbeonlyone1969 commented on #30
That is needed ... we need volunteers to do that @Consianimis ... can you recruit 2 ppl to take this on. @humbitious @kthomas ... looking for support in finding ppl for this task.

[2021-03-12 18:13] jack-garvin commented on #26
Related note, a setup process is necessary for the zero knowledge proofs to be generated for each event in a workflow.  The orchestration of the setup is a one time process. There is only one shared, agreed data point at the inception of a workflow. All other counterparty data will be subject to GDPR constraints and inter-party contractual requirements.

The DID phonebook will contain some shared

[2021-03-15 13:41] Consianimis commented on #26
@jack-garvin - if two parties have different data models for 'invoices' in their respective systems. Do you think it should be in scope of the protocol specification to state the requirements for :
1) agreement on a 'common' data model as a pre-requisite to the baselining process
2) mechanisms to manage the various agreed 'data models' from within the baseline stack

Or could it be a preferable ap

[2021-03-15 17:09] jack-garvin commented on #26
Anais, thanks for including me! I went a little long on this one, so bear with me. 
Q1 - prerequisite - yes. The protocol should not require any data that does not directly support the process/workflow/transactions. The 'minimum' viable ecosystem should have minimal data requirements.  Similar to the security axiom of the 'minimum required access' at each step of the process. Of course, the data m

[2021-03-17 21:00] jack-garvin opened #31 "CORE Spec - multi-party data schema"
Proposed requirements/features: data schema

===================================
On Monday, March 15, 2021, 08:42:19 AM CDT, Anaïs Ofranc wrote:
 @jack-garvin - if two parties have different data models for 'invoices' in their respective systems. Do you think it should be in scope of the protocol specification to state the requirements for :

   - agreement on a 'common' data model as a pre-requis

[2021-03-17 21:21] jack-garvin commented on #24
@AshCos please DM me. I may have a resource for you.

[2021-03-18 15:22] awoie opened #32 "Add link to latest editor's draft to README.md (Github frontpage)"
IMO, it would be good if we always had a link to the latest rendered editor's draft of the specification in the README.md.

Where will the latest version of the spec will be deployed? Directly to https://docs.baseline-protocol.org/baseline-protocol-standard/standards ?

[2021-03-18 15:26] Consianimis commented on #32
This is a good idea. It could be a good first issue - easy commit to new contributors.

API spec link : https://github.com/ethereum-oasis/baseline-standard/blob/main/api/baseline-api-v1.0-psd01.md
CORE spec link: https://github.com/ethereum-oasis/baseline-standard/blob/main/core/baseline-core-v1.0-psd01.md

[2021-03-18 15:44] awoie commented on #32
Would it make sense to create github-pages to render the latest draft?

[2021-03-18 15:59] AshCos opened #33 "Simplified diagram of baselines layers and dID interaction."

[2021-03-18 16:21] Consianimis opened #35 "L2 Specs for Baseline Protocol"

[2021-03-18 16:38] Consianimis opened #36 "Baseline-connector requirements"

[2021-03-18 19:11] Therecanbeonlyone1969 commented on #32
Sigh ... not an HTML fan! md works just fine with links. Never had an issue.

[2021-03-18 19:19] jack-garvin commented on #30
I would like to be assigned to this Issue.  I love doing high-level diagrams!

[2021-03-18 19:21] jack-garvin commented on #35
Assign to me, please.  I have a team ready to tackle this one.

[2021-03-18 19:26] jack-garvin commented on #32
I'm using HackMD. It creates the HTML from the markdown file. I asked @humbitious about this a few days ago. He indicated that Markdown is the current standard for project documentation.

@awoie Would you like to be added to our team?

[2021-03-18 19:28] jack-garvin commented on #33
Please assign this to me! We can include this diagram in our scope.

[2021-03-18 19:29] Therecanbeonlyone1969 commented on #35
@Consianimis @jack-garvin ... anything scaling-related needs to be put in the right bucket this is not a standalone bucket but is spread across several areas - account management, VSM, onchain verification, workflow interoperability etc. ... I am going to add the collection of current requirements that are L2 related here but they need to be put into the right buckets otherwise we reference implem

[2021-03-18 19:30] jack-garvin commented on #29
Assign to me, please.  I have a team ready to tackle this one.

[2021-03-18 19:30] Therecanbeonlyone1969 commented on #36
@Consianimis this sound like an implementation question. Can you please rephrase as part of our established buckets, please, and then close it. Otherwise we have issue spamming

[2021-03-18 19:31] jack-garvin commented on #26
Assign to me, please.  I have a team ready to tackle this one.

[2021-03-18 19:33] Therecanbeonlyone1969 commented on #33
@jack-garvin -- please get together with @awoie and @italobb and @caleteeter to properly address this issue. Thank you!

[2021-03-18 19:37] jack-garvin commented on #33
Can you or someone Assign us to the Issue?

[2021-03-18 19:40] Therecanbeonlyone1969 commented on #31
@jack-garvin ... what you are writing is a mixture of use case and non-functional requirements ... all under the heading of a non-functional requirement. Could you please:

- Create a basic use case flow diagram with actors and inputs and outputs
- Create a basic business requirements document for each step in the use case

This would allow the analysis and abstraction of standards relevant vs. im

[2021-03-18 19:45] jack-garvin commented on #35
So glad to see you pointing out the no-no regarding reference implementations! I've been thinking the same thing for weeks.

Most of the current standards docs rely on a specific use-case for ease of understanding - supply chain. We have to keep implementation specifics out of the standards docs. However, we can use specifics if presented as an implementation example.

Let's get those L2 requireme

[2021-03-18 20:05] Therecanbeonlyone1969 commented on #35
@jack-garvin here is the list of L2 requirements as of now: https://github.com/ethereum-oasis/baseline-roadmap/issues/174

[2021-03-18 20:56] jack-garvin commented on #31
Sorry for the braindump above. Maybe, it doesn't make a lot of sense from a standards perspective.

We can just use the Alice & Bob purchasing example but the requirement is multi-party: Alice, Bob, and Acme.

The multi-party data schema is necessary to support the unique characteristics of the networked process.

[2021-03-18 23:19] Therecanbeonlyone1969 commented on #31
@jack-garvin ... for everybody's sanity, and ease of understanding, I would prefer a visual representation and written documentation of the requirements. This is the normal standards process:

1. Document Use Case (visual with brief writeup)
2. Extract Business Requirements (writeup)
3. Derive Standards (combines visuals and writeups in a use case and business requirements document and then derive

[2021-03-19 08:21] Consianimis commented on #35
@jack-garvin  -  I have assigned to you.

[2021-03-19 08:24] Consianimis commented on #33
@jack-garvin, @AshCos - @awoie is working on #28. Please let us ensure that there is no duplicate work happening as there may be some overlap here.

[2021-03-19 08:44] Consianimis commented on #36
@Therecanbeonlyone1969 - We discussed this and opened it during the call yesterday, I have not scoped and put content yet. It will be done by Thursday next week. If not, I will close it.

[2021-03-19 08:46] Consianimis commented on #29
@jack-garvin - Please include @AshCos. You may want to reach out to @danielnorkin as well.

[2021-03-19 10:05] Consianimis opened #37 "API"
**#Objective**
Describes the Baseline programming interface and expected behaviors of all instances of this interface together with the required programming interface data model.

**#Quick Links**
<table>
<tr>
    <th>Component</th>
    <th>Link</th>
    <th>Description</th>
  </tr>
<tr>
    <td>Design & Architecture</td>
    <td>#3</td>
    <td>Describes the required interfaces and their function

[2021-03-19 10:05] Consianimis opened #38 "Communication"
**#Objective**
Describes messaging between systems of record and systems of record and public common frame of reference.

**#Quick Links**
<table>
<tr>
    <th>Component</th>
    <th>Link</th>
    <th>Description</th>
  </tr>
<tr>
    <td>Design & Architecture</td>
    <td>#6</td>
    <td>Describes the logical architecture (presented as two abstract services - Authentication & Authorization and Me

[2021-03-19 10:06] Consianimis opened #39 "Privacy & Confidentiality"

[2021-03-19 10:06] Consianimis opened #40 "Agreement Execution"

[2021-03-19 10:06] Consianimis opened #41 "Governance"

[2021-03-19 10:06] Consianimis opened #42 "Security Considerations"

[2021-03-19 10:07] Consianimis opened #43 "Conformance"

[2021-03-19 10:14] Consianimis opened #44 "Schema Management"

[2021-03-19 10:15] Consianimis opened #45 "Identity Management"

[2021-03-19 10:28] Consianimis opened #46 "Baseline Specifications - Getting Started - Overview"
**#Objective**
Provide quick access to Baseline Protocol specifications epics and documentation activities.
We should consider adding content from this epic to the Readme.md of the repo to facilitate onboarding of new contributors.

**#Ways of working**
 - Each spec task should be assigned to a pair - buddysystem - 1 contributor from standard team, 1 from maintainer team.
 - Each spec task must be

[2021-03-19 11:11] #38 closed

[2021-03-19 11:11] #43 closed

[2021-03-19 11:13] #42 closed

[2021-03-19 11:13] #39 closed

[2021-03-19 11:14] #40 closed

[2021-03-19 11:14] #41 closed

[2021-03-23 11:38] Consianimis commented on #8
| # | Component | Requirement Category | Requirement Type |  Requirement |
| - | ------------- | ------------------------- | -------------------- |--------------- |
| 1 | Communication | Message Delivery | NFR | API gateway **MUST** support high-operational throughput -- at least 1000 tps |

[2021-03-23 11:39] Consianimis commented on #7
Requirements from: https://github.com/ethereum-oasis/baseline-roadmap/issues/174

| # | Component | Requirement Category | Requirement Type |  Requirement |
| - | ------------- | ------------------------- | -------------------- |--------------- |
| 2 | Communication | Authentication & Authorization | NFR | Operator **MAY** employ a centralized solution for baseline identities/accounts/workgroups |

[2021-03-23 11:42] Consianimis commented on #6
Requirements from : https://github.com/ethereum-oasis/baseline-roadmap/issues/174

| # | Component | Requirement Category | Requirement Type |  Requirement |
| - | ------------- | ------------------------- | -------------------- |--------------- |
| 7 | Communication | Messaging | NFR | In the single operator model, an operator **MAY** use centralized messaging solutions that meet at least the sca

[2021-03-23 11:44] Consianimis commented on #9
Requirement from : https://github.com/ethereum-oasis/baseline-standard/issues/9

| # | Component | Requirement Category | Requirement Type |  Requirement |
| - | ------------- | ------------------------- | -------------------- |--------------- |
| 21 | Communication | Messaging | NFR | A Baseline Messaging protocol **MUST** ensure high-level of message completeness (99.99%) within an operational p

[2021-03-23 12:22] Consianimis commented on #46
High level structure of the specifications - Draft

![image](https://user-images.githubusercontent.com/8512677/112145477-5297b880-8bd2-11eb-9f5d-1dbaff22cd03.png)

[2021-03-23 13:16] #36 closed

[2021-03-23 20:38] awoie commented on #28
Before we can come up with a high-level diagram, let's clarify some of the assumptions regarding the registration of a legal entity (no baselining yet with counterparties) ...

Actors DID/VC approach:
- DID registrar that creates the DID for a legal entity which can be either a service (e.g., Azure services for did:ion) or just a local library. In general, this is out of scope of the baseline prot

[2021-03-23 21:18] Therecanbeonlyone1969 commented on #28
Yes

AF: Yes

AF: Yes -- there exists one or more endpoints that allow a communication endpoint to be accessed. Note, that the communication endpoint does not necessarily have to be in the DIDdoc.

AF: Yes

AF: Yes

AF: Yes

AF: Yes

AF: Yes, for simplicity

AF: Yes

AF: Yes. However, we could think about defining a security profile as part of the standard!

AF: Yes

AF: Yes. Normal OIDC model.

@

[2021-03-24 09:15] mehranshakeri commented on #26
There are different topics discussed here:
- Something like a handshake phase to learn about supported data models and their versions to agree on a common shared one (e.g. used for ZKP workflow)
- Minimum data for registration
- Phonebook
- Different ways to setup an entity in a workflow

My questions:
1. What/Who is the Baseline administrator? Role specifications?
2. Can we minimize the scope? It

[2021-03-24 12:56] awoie commented on #7
I'm just wondering if this is related to the communication or org management (registry) component? Most of the requirements relate to the phonebook registry.

[2021-03-24 13:22] awoie commented on #28
@Therecanbeonlyone1969 As a starting point, I created the attached diagram. Note, in that diagram the operator of the registry itself is not the operator of the company.

![basline-overview](https://user-images.githubusercontent.com/43441584/112317438-5861cc80-8cac-11eb-88e7-e35baa7de89d.png)

[2021-03-24 13:50] awoie commented on #28
- The identity system can either be OP-based or Decentralized Identity-based.
- The IRegistry implementation can either be an OIDC RP or Decentralized Identity verifier.

![baseline-id2](https://user-images.githubusercontent.com/43441584/112321440-48e48280-8cb0-11eb-9a3d-ee2a809a241a.png)

[2021-03-24 14:12] awoie commented on #28
There is one things I cannot get my head around with...

Assume you are using the DID approach.

Why would you have to notify the Registry about updates to message endpoints and public cryptographic material at all? Meaning, why would you need go through the registry's API if the information can be derived directly from the DID. You would risk to run out of sync with the registry data, right?

[2021-03-24 14:12] awoie commented on #28
Further, with regard to the federated model / OIDC, there are essentially two approaches:

1. Registry is a registered OIDC RP (client). In that case, the registry would receive the `id_token` directly from the OP according to the OIDC flow. Note, usually, code flow is used and the `id_token` obtained directly in the RP (Registry). That does not fit well with the model described above unless we wo

[2021-03-24 14:28] mehranshakeri commented on #8
- How detailed and in-depth the "Automated message validation"  should be?
- Do we expect an acknowledgement?
- Some examples would help.

e.g., this could be the minimum data model:

[code]

But from an application point of view, it could look like:

[code]

where the payload could be encoded, encrypted or signed.

[2021-03-24 14:37] awoie commented on #8
For the envelope structure, how do people think about adopting JWMs?

https://tools.ietf.org/html/draft-looker-jwm-01

It supports signed and/or encrypted JOSE objects (JWS, JWM) + defines certain properties for messaging.

[2021-03-25 01:31] Therecanbeonlyone1969 commented on #28
@awoie ... super work! and no you do not have to keep the endpoints in the registry ... only the DID -> Baseline Account KV-pair.

[2021-03-25 01:42] Therecanbeonlyone1969 commented on #28
@awoie

I agree with this. It should be the recommended approach!

We should leave this as an option, but not the recommended approach. Keep it simple. Using OAuth for authentication is easy and you can even use a DID within OAuth, if so desired.

We need to separate out three things IMHO:
1. How did Company A establish a trust relationship with a Baseline Operator aka there is an account that wil

[2021-03-25 10:38] #18 closed

[2021-03-25 10:39] #11 closed

[2021-03-25 10:39] #12 closed

[2021-03-25 10:39] #13 closed

[2021-03-25 10:39] #14 closed

[2021-03-25 10:39] #15 closed

[2021-03-25 10:39] #16 closed

[2021-03-25 10:39] #17 closed

[2021-03-25 10:39] #4 closed

[2021-03-25 10:39] #5 closed

[2021-03-25 10:40] #6 closed

[2021-03-25 10:40] Consianimis commented on #27
I believe this has been done.

[2021-03-25 10:40] #27 closed

[2021-03-25 10:40] #10 closed

[2021-03-25 10:45] Consianimis commented on #29
Please reopen this issue once the work will start.

[2021-03-25 10:45] #29 closed

[2021-03-25 10:48] #44 closed

[2021-03-25 10:48] #45 closed

[2021-03-31 13:03] anaisofranc commented on #46
Note: This issue has been reviewed. PR to be open to add quick links and updated high level spec structure to Readme.md. ETA: mid april so do not close this issue.

[2021-04-07 00:50] humbitious opened #48 "Messaging Specification Addition Request"
Currently the specification on messaging contemplates the use of a messaging service such as NATS, AMQP or Kafka (etc).  It should be considered whether and how the message payload of a baselined workstep may be transmitted to the receiver(s) via email or other such message service.  What are the restrictions that should be applied, if any, to such use that would not apply in the case of NATS, AMQ

[2021-04-07 01:07] kthomas commented on #48
IMHO, this is destined to be a disaster unless you are attaching machine-readable files and sending the emails in an automated way. You could implement an email provider which conforms to the `IMessagingService` interface and it would work as of v0.1.0.

I know you are asking about how restrictions could make such an interface be considered compliant. There are already restrictions though on email

[2021-04-07 23:28] Therecanbeonlyone1969 commented on #48
@humbitious ... standards texts would usually specify  the abstract but still measurable requirement, for example, "A proposed commercial state MUST be based on a commercial document, more generally a state object, that modifies the commercial state between Buyer and Seller." "A proposed commercial state MUST be recorded on a DLT" -> "The Buyer MUST notify the Seller of a new proposed commercial s

[2021-04-14 08:31] mehranshakeri opened #49 "Baseline Core V1.0 links don't exist?"
In this [file](https://github.com/ethereum-oasis/baseline-standard/blob/main/core/baseline-core-v1.0-psd01.md) in the section "**[baseline-core-v1.0]**" two provided links are broken. (404 not found)
Actually the link to the baseline project in the oasis website doesn't exist. Is this a placeholder? `https://docs.oasis-open.org/baseline`

[2021-04-14 11:15] mehranshakeri commented on #48
This is another good example where I get confused between different boundaries of the protocol specification.

A Baseline instance has at least three communication boundaries/types.

1. Communication from the applications consuming Baseline which are usually under the same ownership. e.g. Company A running an ERP system connected to its own Baseline instance. Let's call it **INTERNAL** communicati

[2021-04-22 08:24] #9 closed

[2021-04-22 08:24] #7 closed

[2021-04-22 09:10] #35 closed

[2021-04-22 09:23] #8 closed

[2021-04-22 09:39] #22 closed

[2021-04-22 09:40] #33 closed

[2021-04-22 09:40] #20 closed

[2021-04-22 09:40] #21 closed

[2021-04-22 09:40] #24 closed

[2021-04-22 09:41] #28 closed

[2021-04-22 09:42] #23 closed

[2021-04-22 09:44] Consianimis commented on #30
@jack-garvin - Could you open a PR to address this issue please ? Please find a buddy from the maintainer team to work on this with you. Thanks

[2021-04-22 09:46] Consianimis commented on #46
Note: Keep issue open as it is actively being worked on and updated.

[2021-04-22 09:58] Consianimis commented on #20
Requirements from: https://github.com/ethereum-oasis/baseline-roadmap/issues/174

| # | Component | Requirement Category | Requirement Type |  Requirement |
| - | ------------- | ------------------------- | -------------------- |--------------- |
| 2 | Identity | NFR | Operator **MAY** employ a centralized solution for baseline identities/accounts/workgroups |
| 3 | Org Management | Authentication

[2021-04-22 10:00] Consianimis commented on #7
@awoie - Good point - I added those requirements under #20

[2021-04-22 10:05] #31 closed

[2021-04-22 10:05] #30 closed

[2021-04-22 11:58] Consianimis commented on #49
@mehranshakeri - Good point - we should update this section to clearly indicate that it is a placeholder.

[2021-04-22 12:02] Consianimis opened #51 "Baseline Protocol Standards - Scope Completeness project"
**#Objective**
Need for a pair or small group dedicated to ensuring that we have established an extensive and complete scope i.e. that we cover everything. Go as far as we can go including reference architectures. To be completed by the 6th May.

[2021-04-22 12:08] Consianimis commented on #51
@humbitious  - Please list all the individuals you would like to work on this. Then let us send an email to them with a proposed date for a 1 hour meeting next week and another 1 hour meeting the week after. The time between the two meetings will allow individuals to think and do some homework if any has been identified. Thanks.

[2021-04-22 12:34] mehranshakeri commented on #49
Thanks. Then I will close this issue.

[2021-04-22 12:34] #49 closed

[2021-04-22 12:40] Consianimis commented on #26
@mehranshakeri - Can you take the lead on the write up for this component by opening a PR that the team can review? You can pair with @jack-garvin . Last week we updated the ways of working. Please see issue #46 - Way of working.

[2021-04-22 13:30] humbitious commented on #51
Here's the list:

@Therecanbeonlyone1969
@bitwiseguy
@kthomas
Lucas Rodriguez (can't find his github ID)
@skarred14
Mehran or Alessandro from SAP.

Will send note now.  (Wish there were an easy way to find a time to meet, but will use the old "when can everyone meet" round-robin.)

[2021-04-22 14:01] mehranshakeri commented on #26
@Consianimis  Sure.

[2021-04-22 21:06] jack-garvin commented on #26
Since I added a little confusion to the topic, let me take another pass. Bottom line - WorkFlow participants have to manage their own L2 tech stack, i.e Baseline Administration.

The role responsible for maintaining the operating WorkFlow for the entity is the Baseline Administrator. This could be outsourced or incorporated into the current supply chain management team. It could be more than one p

[2021-04-22 21:44] kthomas commented on #26
No. There are many form factors that a baselined organization might take. The "lightest nodes" in the baseline network are not going to have to carry the burden of running their own L2 stack.

[2021-04-22 22:06] kthomas commented on #26
An initial form of this handshake was introduced in the `bri-1-privacy` branch and is documented as part of the API specification. Check out the `JOIN` and `SYNC` opcodes on [this branch](https://github.com/ethereum-oasis/baseline/blob/bri-1-privacy/core/types/src/protocol.ts#L5-L6).

- Organization name
- secp256k1 keypair (if Ethereum mainnet) -- **_it is of critical importance that this never s

[2021-04-22 22:21] Therecanbeonlyone1969 commented on #26
@mehranshakeri @jack-garvin cc @Consianimis @kthomas

Could you please provide the relevant use case descriptions, with definitions, workflows, and business requirements in a structured format which people can comment on specifically. This discussion is very confusing.

@Consianimis I am in favor of closing this issue unless a concise description of relevant use case descriptions, definitions, wor

[2021-04-23 14:39] jack-garvin commented on #26
Brainstorm - Anais opened this issue with a request to brainstorm.

If brainstorming is too confusing just let the people who are not confused continue discussing, listen and catch up.

[2021-04-23 14:41] jack-garvin commented on #26
Can you point me to the BRI-1 requirements documentation?

[2021-04-23 15:08] Therecanbeonlyone1969 commented on #26
@jack-garvin I am looking forward to review the RP

[2021-04-23 15:41] jack-garvin commented on #26
KT- An initial form of this handshake was introduced in the `bri-1-privacy` branch and is documented as part of the API specification. Check out the `JOIN` and `SYNC` opcodes on [this branch](https://github.com/ethereum-oasis/baseline/blob/bri-1-privacy/core/types/src/protocol.ts#L5-L6).

KT- " * secp256k1 keypair (if Ethereum mainnet) -- "!! It is of critical importance that this never signs any

[2021-04-23 15:42] jack-garvin commented on #26
I think you meant @mehranshakeri. I will not be making PRs.

[2021-04-26 08:27] mehranshakeri commented on #51
@humbitious  I can join from SAP side

[2021-04-26 18:43] #32 closed

[2021-04-27 08:47] mehranshakeri commented on #26
Here is the PR #52, I hope it helps to organize our brainstorm discussion :)

[2021-04-30 20:44] #3 closed

[2021-05-06 14:55] #46 closed

[2021-05-06 14:55] #48 closed

[2021-05-06 15:09] humbitious commented on #51
Notes from "Features and Non-Functional Requirements to Consider for V1" Sessions, conducted during The Baseline show sessions in May 2021:

Debasing and Rebasing
Revisioning
n-lateral Workstep Support (workstep policy)
Ensure Workflow is strictly deterministic
Ability to go from a baselined record to a token
Relevance mapping (lots of fields but we are only 'baselining' field x and y)
Integration

[2021-05-06 15:39] Consianimis commented on #51
**To be considered for Standard:**
Debasing and Rebasing:
Revisioning
n-lateral Workstep Support (workstep policy)
Ensure Workflow is strictly deterministic

**Implementation specific:**
Relevance mapping (lots of fields but we are only 'baselining' field x and y)
Integration of real contracts systems
ERP to CRM connections.
Approaches for notating and managing the "why" of a state change, particu

[2021-05-06 15:41] humbitious commented on #51
Support for VANs?

What if someone is using NATS and another is on, say, an older value added network or a different messaging network...how to easily do discovery and integration.

[2021-05-06 15:46] kthomas commented on #51
Should be covered by existing APIs with some color commentary in the implementation guide.

Covered by existing privacy package.

Covered by leveraging workgroups and workflows properly-- fodder for implementation guide?

This is covered by existing methodology; however implementation guide should discuss some pitfalls and/or caveats.

@Therecanbeonlyone1969

Supported by current APIs; probably im

[2021-05-06 16:08] mehranshakeri commented on #51
Part of standard
- n-lateral Workstep Support (workstep policy)
- Ensure Workflow is strictly deterministic

Need more details
- Debasing and Rebasing (recovery?)
- Revisioning (recovery?)
- Approaches for notating and managing the "why" of a state change, particularly in supply chain.
- Relevance mapping (lots of fields but we are only 'baselining' field x and y)
- Integration of real contracts s

[2021-05-14 10:13] mehranshakeri opened #55 "Multi-Party Document Sharing - Notarization & Confidentiality"
## Problem

A simplified picture of supply chain looks like this:

<img width="738" alt="full-picture" src="https://user-images.githubusercontent.com/14055200/118242940-2a278e80-b49e-11eb-8b69-dce5487bdf08.png">

_Figure1 - Full Picture_

The arrows show the direction and flow of data from upstream to downstream parties. Usually there is at least one authority/auditor interested in the full pictur

[2021-05-14 10:17] mehranshakeri commented on #51
Ready for feedbacks #55

[2021-05-14 18:35] humbitious commented on #55
First, this should get the award for this quarter's most well-written, clear explanation of a complex topic.  Outstanding writeup.  I'm keen to hear what others think, but I found myself quite interested in the notion of how to not only keep the data private, which this pattern clearly handles, but also preventing a powerful ML/AI approach from developing classifiers from large amounts of ongoing

[2021-05-18 14:23] mohanramanujam commented on #55
I found this infographics from a HBR article which was informative. If useful to add, a citation to the source may be needed. [https://hbr.org/2020/05/building-a-transparent-supply-chain].
[hbr-supplychain blockchain - addendum 1 - R2003F_GAUR_CAPTURING.pdf](https://github.com/ethereum-oasis/baseline-standard/files/6502017/hbr-supplychain.blockchain.-.addendum.1.-.R2003F_GAUR_CAPTURING.pdf)

[2021-05-30 23:59] humbitious commented on #51
Ok, I've reviewed the footage from the baseline shows, and unless others have spotted things that were covered that we missed, this thread looks to cover it.  That said, what we don't really have, imo, is a clear roadmap of what shall be a) implemented for v1; b) considered a final standards draft.

We need a clear set of Issues/Tasks/Acceptance Criteria and clear resourcing across the companies t

[2021-06-03 15:13] Consianimis commented on #51
In scope:

To do:
Debasing and Rebasing
Revisioning
n-lateral Workstep Support (workstep policy) - multi lateral more than 2 parties

Already addressed:
Ensure Workflow is strictly deterministic
Relevance mapping (lots of fields but we are only 'baselining' field x and y)

[2021-07-08 14:19] #51 closed

[2021-07-08 14:20] #26 closed

[2021-07-08 14:23] Consianimis commented on #55
Notorization & Confidentiality can be addressed with VC. When specific use cases related to visibility will be surfaced, issue can be reopened.

[2021-07-08 14:23] #55 closed

[2021-08-19 14:36] Consianimis opened #61 "Editorial review of specs"

[2021-09-09 17:12] tkuhrt opened #62 "Bad link baseline-core-v1.0-psd01.md"
At line 276 of https://github.com/eea-oasis/baseline-standard/blob/main/core/baseline-core-v1.0-psd01.md, there is a typo for `identity` resulting in a bad link:
[code]

[2021-09-10 20:34] OASIS-OP-Admin opened #65 "update references to EEA Community Projects"
Noticed one or two instances of governed by the Ethereum-Oasis Project'. These should be changed to 'governed by EEA Community Projects' and link to https://entethalliance.org/eeacommunityprojects/.

[2021-09-10 20:36] OASIS-OP-Admin opened #66 "Confirm that all references in content have a normative/informative entry in the Appendix"
Anywhere an external source is referenced, it should be listed in either the normative or informative references in the Appendix. I didn't confirm them, just adding the note to double check.

[2021-09-10 20:38] OASIS-OP-Admin opened #67 "Consider explaining the brackets like [R1] in Typographical Conventions"
Looking at the bracketed numbers, e.g. [R1] or [D1], they look like they might be numbered requirements, maybe tied to the conformance clauses. I think it would help to explain what they mean in the Typo Conventions section.

[2021-09-10 20:40] OASIS-OP-Admin opened #68 "Fill out the Acknowledgments section"
Not critical for Project Specification Draft stage but it will be needed when the work gets approved as a Project Specification. The Acknowledgements appendix should have the list filled out of everyone who contributed to the work.

[2021-09-10 20:42] OASIS-OP-Admin opened #69 "In API v1.0, Security Considerations is optional"
The Security Considerations section is optional. You can take it out if you aren't going to use it. If at some point you want to apply for an IANA registration, they'll look for that section. I can point you to examples.

[2021-09-10 20:43] OASIS-OP-Admin opened #70 "In API v1.0 Conformance Clauses section will be needed"
For API v1.0, the Conformance clauses section will have to be done before the doc can be approved as a Project Specification. OK for now while it is PSD.

[2021-09-10 20:44] OASIS-OP-Admin opened #71 "In API v1.0, the placeholder Appendix B A B C can be removed"

[2021-09-11 10:16] Consianimis commented on #67
@OASIS-OP-Admin  - Done in PR#63 : https://github.com/eea-oasis/baseline-standard/pull/63/commits/e0bb3da000ced73082ef55a853f790b78cb29068

[2021-09-11 10:18] Consianimis commented on #68
Done in PR63: https://github.com/eea-oasis/baseline-standard/pull/63/commits/33b176223769bc2b97a65ac258bbdb172bc9ebbf and https://github.com/eea-oasis/baseline-standard/pull/63/commits/d1462742f5a6de6fb4381e32c8bfda9c879aa89d

[2021-09-11 10:21] Consianimis commented on #65
@OASIS-OP-Admin - This is addressed in PR#63: https://github.com/eea-oasis/baseline-standard/pull/63/commits/d1462742f5a6de6fb4381e32c8bfda9c879aa89d

[2021-09-11 10:22] Consianimis commented on #61
Updated: This is done under PR#63 https://github.com/eea-oasis/baseline-standard/pull/63/

[2021-09-23 16:13] GoldenBit0 opened #72 "Spec Ratification Process and Tracking"
![Standards Flow_Swim (1)](https://user-images.githubusercontent.com/89866893/134544599-48945950-f9f7-4a02-af1b-ed393c6fc04e.jpg)

[2021-09-23 19:53] #1 closed

[2021-09-28 06:01] Consianimis commented on #61
Completed

[2021-09-28 06:01] #61 closed

[2021-09-28 06:02] #67 closed

[2021-09-28 06:02] #68 closed

[2021-09-30 14:25] GoldenBit0 opened #77 "Baseline TSC Meeting to Ratify Standard"
**Purpose:** Baseline TSC Meeting to Ratify Standard

**Date:** September 30, 2021

**TSC Members in Attendance:** Anais Ofranc, Conor Svennson, Hudson Jameson, John Wolpert, Sam Stokes, Samrat Kishor, Stefan Schmidt

**Other Attendees:** Andreas Freund, Chet Ensign, Claudia Rauch, Mehran Shakeri, Sonal Patel

**Voting:** Voting is done at the convenience of the committee members and confirmed dur

[2021-10-08 21:36] Therecanbeonlyone1969 commented on #69
done ... see PRs #73, #74, #78, #80

[2021-10-08 21:36] #69 closed

[2021-10-08 21:37] Therecanbeonlyone1969 commented on #66
done ... see PRs #73, #74, #78, #80

[2021-10-08 21:37] #66 closed

[2021-10-08 21:37] Therecanbeonlyone1969 commented on #62
done ... see PRs #73, #74, #78, #80

[2021-10-08 21:38] Therecanbeonlyone1969 commented on #37
all done ... done ... see PRs #73, #74, #78, #80

[2021-10-12 19:46] #77 closed, assigned to nobody

[2021-11-01 20:31] tkuhrt opened #85 "Grammar issues in the Glossary for Verifiably Secure"
The grammar in the baseline-core-v1.0-psd01.md glossary for "Verifiably Secure" needs to be corrected.

[2021-11-01 20:34] tkuhrt opened #86 "Glossary item for "Workgroup" does not exist"
It would be good to have a glossary item for "Workgroup", which is referred to in many of the other glossary items, and I am sure throughout the specification.

[2021-11-01 20:36] tkuhrt opened #87 "Discrepancy between the number of requirement levels and the number specified"
In the first sentence, it says that there are "four" requirement levels, but only "three" are listed.

[2021-11-01 20:38] tkuhrt commented on #87
Maybe [CR] is the fourth, but it is not clear from the way the document is written that this is the fourth requirement level.

[2021-11-03 00:35] chaals opened #88 "Definition of agreement is unnecessary"
Quoting Cornell on a term that is used in its general sense is extraneous text.

Moving the requirement in this section to after the definition of "Transacting Counterparties" (which is not a normal english term, so should be defined) would make it easier to understand on first reading.

[2021-11-03 00:47] chaals opened #90 "make requirements linkable"
Markdown is not helpful here, but writing them as e.g.

[code]

would enable links like `..spec.html#[r43]` to work

[2021-11-03 00:50] chaals opened #91 "Define identity-associated data, not Identity"
There is no need to have a definition of a term used like the dictionary says.

The important term is `identity-associated data', and the relevant snippet from the existing definition:

Is sufficient...

[2021-11-03 00:52] chaals opened #92 "Overview repeats the ToC twice"
The overview section is one part overview f the document, but that is really just a restatement of the table of contents, adding to the redundancy by listing most of the section contents in the first line about the section and then again in a list.

Removing this whole list would trim the document down for easier reading with no appreciable loss of information or legibility.

[2021-11-03 01:53] chaals opened #93 "Are [R1], [R2], and [R3] redundant?"
The first three requirements are about some kind of agreement.

It's not clear why any agreement is necessary unless there is a transaction. In that case, it is not clear what the difference is between the three requirements - can they merged?

[2021-11-03 01:59] chaals opened #94 "Image illustrating 5.5 is illegible"
It seems that the image uses a semi-transparent background, but laid over a black background this makes it impossible to read.

[2021-11-03 02:02] chaals opened #95 "[R114] Define "JSON-LD format sympathetic""
R114 requires that messages are "JSON-LD format sympathetic", but it is not stated what that means in the spec, nor is that term used in the JSON-LD spec.

Please define the meaning, or change the requirement.

[2021-11-03 03:20] chaals opened #96 "[CR25] is redundant"
The upshot of the requirements is that If you implement D34 you have to implement CR25, but that is the same as implementing [D34] anyway.

Propose removing [CR25]

[2021-11-03 03:29] chaals opened #97 "Reconcile / merge R247, R258, R262?"
[R247] says an account must have a deterministic nonce. That seems underspecified - it must use a (linearly?) increasing sequence as nonces, no?

At which point, R258 seems odd, unless it means that a transaction should be rejected if it doesn't have "the right" nonce (according to some test)

Maybe it's a separate issue, but under R262 a transaction has to be processed before another can be accep

[2021-11-03 03:33] chaals opened #98 "[R309] is under-specified"
What are the required characteristics to pass?

[2021-11-03 03:36] chaals opened #99 "conformance levels 4-6 can't be achieved"
(It says so in the spec).

Propose to remove them - it's not clear what they add, apart from clarifying that there is work to be done before they might be a useful concept.

[2021-11-03 05:20] Therecanbeonlyone1969 commented on #99
sorry, i do not understand. this is merely stating that these are the levels and what is required to achieve them. That they currently cannot be achieved is not relevant, since they will be achievable in the future. They add clarification that there are more levels of conformance.

[2021-11-03 05:24] Therecanbeonlyone1969 commented on #98
Good point. Please, make a suggestion for correction. @chaals

[2021-11-03 05:36] Therecanbeonlyone1969 commented on #97
No. Linearly increasing is one form of a deterministic nonce but not the only one. A nested hash is also strictly deterministic.

That is correct, the wording "based on the account of the sender" is important. This implies a reference to a previous nonce state because each account must have a deterministic nonce and you cannot reuse a nonce, because then it would not be deterministic anymore.

No,

[2021-11-03 05:44] Therecanbeonlyone1969 commented on #96
Nuance here. It is actually necessary. If you implement D34, you might start a workflow with 2 worksteps and they use the same prover system. Then you update the workflow with a 3rd workstep, you could choose then a different prover system, Breaking the requirement and screwing things up. Therefore, if you commit to using one prover system for a workflow, you cannot ever change your mind, if you w

[2021-11-03 05:46] Therecanbeonlyone1969 commented on #95
There is a reference given as to what it means. We can repeat that in the glossary if that is required. I think a reference is sufficient.

cc @chaals

[2021-11-03 05:50] Therecanbeonlyone1969 commented on #94
I can read it just fine. @mehranshakeri could you produce a higher resolution image?

[2021-11-03 05:52] Therecanbeonlyone1969 commented on #93
Nope they are not. See my comment on PR #89. cc @chaals

[2021-11-03 05:55] Therecanbeonlyone1969 commented on #92
Not uncommon practice in standards to have a ToC and repeat the main sections and some or all subsections with some clarification what they represent, which the expansion of the ToC in the overview does. cc @chaals

[2021-11-03 05:58] Therecanbeonlyone1969 commented on #91
But identity is not constructed as the dictionary says, because the dictionary is mute on that point. Hence, the programmatic definition of identity how it is used in the Baseline Protocol is more than warranted.

[2021-11-03 05:59] Therecanbeonlyone1969 commented on #90
@chaals ... you are more than welcome to do a PR with that change, if you feel strongly about it.

[2021-11-03 06:06] Therecanbeonlyone1969 commented on #88
Open to a suggested rewording, if you care to make a suggestion. cc @chaals

[2021-11-03 06:08] Therecanbeonlyone1969 commented on #87
The header 1.3.2 should be removed to make it clear. Will be done in another clean up PR. Also, would be great if you could make a rewording suggestion that makes sense to you. @tkuhrt

[2021-11-03 06:09] Therecanbeonlyone1969 commented on #86
@tkuhrt thank you for the catch. Will be included in a clean up PR shortly.

[2021-11-03 06:12] Therecanbeonlyone1969 commented on #85
@tkuhrt ... which grammar rule was violated? Missed two commas on "thus". Recommend you make a rewording proposal..

[2021-11-03 06:48] mehranshakeri commented on #94
Sure, I will try. I used default settings from drawio. Source file is also [here](https://github.com/mehranshakeri/baseline-standard/blob/aeb6a165a161cfe74f22a20e8ec75c305571d974/core/images/BPI-integration-5.5.drawio.png)
I will work on it to see if I can improve it.

[2021-11-03 10:58] chaals commented on #94
The problem is not resolution, it is background. I'll have a go at a fix, if you want to assign me.

[2021-11-03 11:03] mehranshakeri commented on #94
I appreciate it if you could take over.

[2021-11-03 14:23] tkuhrt commented on #85
Two verbs. Maybe something like "Verifiably secure enables a computer to offload the computation of some function to other perhaps untrusted clients, while maintaining verifiable, and thus secure results"

[2021-11-03 22:57] chaals commented on #94
PR #101 changes the transparent background so the image can be read on any background. (That's all it does)

[2021-11-04 00:04] #87 closed

[2021-11-04 00:22] chaals commented on #94
(fixed up other images with the same issue, too)

[2021-11-04 00:45] chaals commented on #99
I'm generally wary of a spec predicting the future in anything but a very open-ended way. I'd rather keep the note that we expect in the future to have tests, and say the conformance to a later version might require passing them.

Because we *might* decide something different is what the industry needs, before we get to the future we're currently promising to deliver.

I'm also not a fan because i

[2021-11-04 01:05] chaals commented on #95
The reference says what JSON-LD means, and that is sufficient. But I cannot find the term "format sympathetic" defined in either this spec or the JSON-LD spec.

Either defining it in the glossary, in the requirement, or changing the wording, would be helpful.

If it means "either a valid  JSON-LD document, or a JSON document that can be interpreted as JSON-LD by associating a context through HTTP

[2021-11-04 09:36] chaals opened #102 "Clean up how references are presented"
At the moment there are some references inline, some collected "spec-style" at the end but without being linkable.

I suggest we use a consistent style, e.g.

So that all references to entire documents link to the references section, and inline references are to specific sections, as additional links.

If we're agreed, you can assign this to me and I'll make a pull request

[2021-11-04 14:35] #88 closed

[2021-11-04 14:51] #94 closed

[2021-11-04 14:56] Therecanbeonlyone1969 commented on #85
Proposal: "A Process that enables a computer to offload the computation of some function to other perhaps untrusted clients, while maintaining verifiable, and, thus, secure results."

[2021-11-05 12:39] anaisofranc commented on #102
@chaals - I had raised a question related to this unfortunately I did not get the answer in time before submission :)

[2021-11-18 15:45] Therecanbeonlyone1969 commented on #98
@rfisch to make a proposal for common and measurable characteristics for enterprise database systems.

[2021-11-18 15:49] #97 closed

[2021-11-18 15:55] Therecanbeonlyone1969 commented on #96
@chaals ... will add above comment in appropriate form as an explanatory text below [CR25].

[2021-11-18 15:55] #96 closed

[2021-11-18 15:56] Therecanbeonlyone1969 commented on #93
closing issue ... related PR #89 merged.

[2021-11-18 15:56] #93 closed

[2021-11-18 15:58] Therecanbeonlyone1969 commented on #92
@chaals ... per WG meeting 11/18/2021, repetition is warranted. Closing issue.

[2021-11-18 15:58] #92 closed

[2021-11-18 20:26] GoldenBit0 opened #103 "Andreas connect with Oasis team on comments regarding compliant sections"

[2021-11-18 20:28] GoldenBit0 opened #104 "Andreas to connect with Oasis team to discuss non-compliant sctions"

[2021-11-18 20:32] GoldenBit0 opened #105 "Update to 'Draft Release 0.1'"
Per outcome of 11/17/21 PGB session, the standards is now in 'Draft Release' state.

[2021-11-18 20:34] GoldenBit0 opened #106 "Update readme with 'Draft Release 0.1' and date (11/17/2021)"
Update readme with 'Draft Release 0.1' and date (11/17/2021)

[2021-11-18 20:45] GoldenBit0 opened #107 "Add 'Draft Release 0.1' into new branch once last PR has been merged"

[2021-11-18 20:55] GoldenBit0 opened #108 "Resolutions needed from PGB"

[2021-11-18 21:02] GoldenBit0 opened #109 "Resolve non-material editorial corrections"
These 3 corrections were proposed and voted unanimously by the PGB at the 11/17/2021 session.
Editors will work with OASIS project administrative staff to resolve non-material editorial corrections

[2021-11-18 21:03] GoldenBit0 opened #110 "Clearly and accurately describe the current status and proposing group's expectations for its future"
The document MUST clearly and accurately describe its current status, and the proposing group’s expectations for its future (e.g. publishing schedule, final destiny, …)

[2021-11-18 21:07] GoldenBit0 opened #111 "Fix links to appendix"

[2021-11-18 21:08] GoldenBit0 opened #112 "Update document with IETF's BCP14"
The document MUST use IETF’s BCP14, i.e. RFC2119 and RFC8174 terminology for conformance

[2021-11-18 21:12] GoldenBit0 opened #113 "Research on testing companies"
Research testing companies and compile findings to present at next session.

Notes from 11/18/21 standards call on topic:
- fully open source (any company who wants to pass certification test can do so and publish out report), to be fully certified needs to be done by an independent body
- company will need to do test harness, take legal liability, do security audit
- https://www.dnv.com/oilgas/jo

[2021-12-02 04:07] GoldenBit0 commented on #113
Update:
 - Preliminary test company research complete given scope of my knowledge, will address at 12/2 to discuss next steps
 - Time set up with EEA/Oasis on 12/7 to discuss if standards bodies could be certifying bodies

[2021-12-02 05:58] Therecanbeonlyone1969 commented on #110
@GoldenBit0 ... started new editorial branch ... addressed this issue here ... https://github.com/eea-oasis/baseline-standard/blob/pr/101/README.md#status

[2021-12-02 07:11] Therecanbeonlyone1969 commented on #95
@chaals ... very good wording. will include in PR I am working on ... see current working branch for PR https://github.com/eea-oasis/baseline-standard/blob/pr/101/core/baseline-core-v1.0-psd01.md

[2021-12-02 07:29] Therecanbeonlyone1969 commented on #86
@tkuhrt

**Workgroup**

A workgroup is defined through a set of authorized users of a BPI, referred to as BPI Subjects in this document, one or more security policies, a well-defined administrator role and its association with one or more worksteps through a workflow to achieve system of record synchronization of the workgroup participants.

see also glossary section of this working branch https:/

[2021-12-02 07:32] Therecanbeonlyone1969 commented on #85
@tkuhrt please, see the updated definition (based on my proposal above) in the new working branch https://github.com/eea-oasis/baseline-standard/blob/pr/101/core/baseline-core-v1.0-psd01.md ...  and let us know if ok.

[2021-12-02 08:05] Therecanbeonlyone1969 commented on #98
@chaals ... added several, measurable characteristics to R309 ... see https://github.com/eea-oasis/baseline-standard/blob/pr/101/core/baseline-core-v1.0-psd01.md#751-bpi-storage-centralized-deployment

[2021-12-02 14:11] Therecanbeonlyone1969 commented on #91
@chaals ... will close the issue at the next standards meeting, unless commented on by you before the next standards meering.

[2021-12-02 14:17] Therecanbeonlyone1969 commented on #90
@GoldenBit0 @mehranshakeri and @Therecanbeonlyone1969 ... will take this on. @chaals, you are strongly encouraged to participate in this effort in this [branch](https://github.com/eea-oasis/baseline-standard/blob/pr/101/core/baseline-core-v1.0-psd01.md)

[2021-12-02 14:20] Therecanbeonlyone1969 commented on #99
@chaals ... the TSC is raising funds for a grant to create the test fixture and test harness, so this is not far away future but Q1/Q2 of 2022.

[2021-12-02 14:35] Therecanbeonlyone1969 commented on #102
@chaals ... please use this branch where the WG is collectively working to correct the remaining editorial issues. https://github.com/eea-oasis/baseline-standard/blob/pr/101/core/baseline-core-v1.0-psd01.md

[2021-12-02 14:39] Therecanbeonlyone1969 commented on #106
Updated in all readme.md files and the head of the individual spec docs. see current working branch https://github.com/eea-oasis/baseline-standard/blob/pr/101/core/baseline-core-v1.0-psd01.md

[2021-12-02 14:42] Therecanbeonlyone1969 commented on #112
@chaals ... please, provide examples of non-compliance and required correction. The group is unsure where the issue is.

[2021-12-02 14:43] GoldenBit0 commented on #111
Duplicate of issue #102, closing.

[2021-12-02 14:44] #111 closed

[2021-12-02 14:51] Therecanbeonlyone1969 commented on #113
@Therecanbeonlyone1969 will write a RFP for a test harness and test fixtures by the next meeting (12/16/2021)

[2021-12-02 14:53] Therecanbeonlyone1969 commented on #110
closing issue since addressed in updated branch

[2021-12-02 14:53] #110 closed

[2021-12-02 14:57] Therecanbeonlyone1969 commented on #95
closing issues per meeting 12/2

[2021-12-02 14:57] #95 closed

[2021-12-02 15:08] chaals commented on #112
As far as I can tell, the spec implements this in practice, so it's just a case of putting a reference in to make it clear (and checking to see if something fell through the editorial nets, but that's no big deal).

[2021-12-02 21:39] tkuhrt commented on #85
LGTM

[2021-12-07 21:47] BriannaMRich commented on #90
@chaals looking for confirmation on the request. Are you looking for the requirements section to be linked - so when they are referred to within the specification and/or outside. See below for example. If this is accurate please let us know :)

[**[R34]** The identifiers and identity utilized in a BPI MUST be controlled by its Principal Owner.](https://github.com/eea-oasis/baseline-standard/blob/m

[2021-12-07 22:25] chaals commented on #90
@BriannaMRich Exactly!

[2021-12-07 22:30] BriannaMRich commented on #90
@chaals Great!! @GoldenBit0 FYI

[2021-12-08 01:01] Therecanbeonlyone1969 commented on #90
@chaals ... that is an absolute (to line 721) not a relative (R34) reference. We do need relative references, however.

cc @BriannaMRich ... see the above-referenced branch for relative links.

[2021-12-08 15:40] mehranshakeri commented on #90
Is this already done? I see all the links are already fixed. If not, could you please guide me to where still needs review/correction?

[2021-12-08 19:47] Therecanbeonlyone1969 commented on #90
@mehranshakeri ... yes in the branch pr/101 ... as soon as the API spec .md file has been brought in alignment with the yaml we will do a PR

[2021-12-16 19:32] Therecanbeonlyone1969 commented on #112
done with #114

[2021-12-16 19:32] #112 closed

[2021-12-16 19:32] Therecanbeonlyone1969 commented on #106
done with #114

[2021-12-16 19:32] #106 closed

[2021-12-16 19:33] Therecanbeonlyone1969 commented on #102
done with #114

[2021-12-16 19:33] #102 closed

[2021-12-16 19:33] Therecanbeonlyone1969 commented on #98
done with #114

[2021-12-16 19:33] #98 closed

[2021-12-16 19:34] Therecanbeonlyone1969 commented on #91
clarified language in #114

[2021-12-16 19:34] #91 closed

[2021-12-16 19:34] Therecanbeonlyone1969 commented on #90
done with #114

[2021-12-16 19:34] #90 closed

[2021-12-16 19:35] Therecanbeonlyone1969 commented on #86
done with #114

[2021-12-16 19:35] #86 closed

[2021-12-16 19:35] Therecanbeonlyone1969 commented on #85
done with #114

[2021-12-16 19:35] #85 closed

[2021-12-16 19:36] Therecanbeonlyone1969 commented on #109
all linked issues addressed and closed based on #114

[2021-12-16 19:36] #109 closed

[2021-12-28 23:27] chaals opened #115 "Differentiate business vs code requirements?"
There are some requirements that seem to be untestable at the level of code, and further don't seem likely to have an impact on whether a BPI _functions_ correctly.

E.g. If two organisations don't meet

is there anything in the code, or in executing the code, that will be different to when the condition is met?

If there is no difference, then it might be helpful to define different types of requ

[2021-12-28 23:33] chaals opened #116 "R2 is too vague"
R2 says that parties must have legally binding contracts.

It's not clear how to test whether the contract is legally binding, nor in what circumstances it needs to be binding.

If this requirement is necessary, there should at minimum be something about the contracts being relevant to the transactions being carried out through a BPI.

(Why doesn't a BPI offer and acceptance process establish a sp

[2021-12-28 23:38] chaals opened #117 "Is one of R6 and R7 redundant?"
R6 requires a commercial document is represented electronically, R7 that it is represented in a BPI.

Is there a way to have a commercial document represented in a BPI other than electronically? If not, it seems like R6 is unnecessary.

[2021-12-28 23:41] chaals opened #118 "Secton 2.5 seems redundant"
Section 2.5 seems to say the same thing about a CCSM as the glossary, adding that they are important for a BPI.

That seems to be unnecessary repetition.

[2021-12-28 23:46] chaals opened #119 "The heavy use of "(commercial)" is confusing and seems unnnecessary"
In e.g. §2.6 there are many statements like

"Commercial Document" is a defined term, so should be used as such rather than a parenthetical adjective which is just confusing. It would be nice if it were a link to the definition, too.

Meanwhile, it isn't clear why "agreement" is _perhaps_ qualified, as "(commercial)". Is there some reason non-commercial agreements cannot be transacted with baselin

[2021-12-29 01:59] Therecanbeonlyone1969 commented on #99
@chaals ... will you make a PR with the new language as you volunteered during the Standards WG call on 12/17/2021?

[2021-12-29 02:08] Therecanbeonlyone1969 commented on #116
@chaals ... it is up to an implementation to ensure that. The facts and circumstances vary wildly. Hence, this is intentionally vague. Think of it as a compliance hook. The standard cannot opine on an implementation. One implementation option would be to instantiate the state object between two or more parties using a signed hash of the document with a resolvable URI to e.g. a PDF together with a

[2021-12-29 02:14] Therecanbeonlyone1969 commented on #117
@chaals ... no it is not redundant. R6 ensures the existence of an, ideally, human-readable version, and R7 says that this version must be represented in a BPI. If you only have a paper version of a commercial document it is hard to implement that in a BPI in a compact, processing-friendly form, while also meeting the human need to be able to read that document electronically and reference it in t

[2021-12-29 02:15] Therecanbeonlyone1969 commented on #118
@chaals ... not everyone reads the glossary. some redundancy is ok.

[2021-12-29 18:07] chaals opened #120 "R96 and R97 need to be more concrete"
It is not really clear in R96, and completely unclear in R97 what the required parameters are. Presumably, the BPI is not required to scale to an infinite number of transactions in a given time period. But 10x? 1000x?

Likewise for availability. Is it necessary to respond in milliseconds? Is it reasonable to timeout and say the thing failed after 1/2 a second, or after 20 seconds?

There will be u

[2021-12-29 18:09] chaals opened #121 "Define processes as algorithms?"
R140 - R200 (approx) define requirements for various processes.

Would it make more sense to describe algorithms for each one of these? It could make it easier to understand and implement (although different programmers have different thoughts on that, let alone non-programmers), and it would probably help clarify what to do in error states - and therefore how to detect them.

[2021-12-30 01:12] chaals opened #125 "Use "Oracles" instead of "External Non-authoritative, Non-deterministic Data""
Simpler phrase, very widely understood in the blockchain world, and doesn't really have an ambiguity in general understanding (because it's otherwise not meaningful).

This would simplify reading, and for people used to the term it would be instantly clear what it's about.

[2021-12-30 01:24] Therecanbeonlyone1969 commented on #125
@chaals ... the world `Oracle` is not precise enough to be used in the context of this standard because it can be authoritative and deterministic (atomic clock, block hash etc.) as well as non-authoritative and non-deterministic (weather.com, odds of Tom Brady winning another Super Bowl from ONE bookie etc.) or any combination. Also, it is wildly misused and abused in the blockchain ecosystem such

[2021-12-30 01:40] Therecanbeonlyone1969 commented on #120
@chaals ... I hear you. So let's look at the wording as a whole.

the keywords are "does not impact the overall system latency of the BPI". That means Service orchestration latency << overall system latency. Overall system latency that is acceptable is use case dependent and will be determined by the business users.

Don't you think that is specific enough within the context set by the business?

[2021-12-30 02:08] Therecanbeonlyone1969 commented on #121
@chaals ... the last point is easy to answer. Any outcome that is not compliant with the requirements for each operation must lead to an abort because it is not compliant. Each requirement comes with a pretty precise list of things that need to be true and each of those things is verifiable in code -- dates, signatures, schemas etc.

As to the algorithm part, sadly we are solving not for `x^2 + y^

[2021-12-30 03:17] Therecanbeonlyone1969 commented on #115
@chaals ... all the requirements are testable in code. Just need to be clever how this is done. Again see the started implementation guide for examples to make "business" requirements testable in code.

[2022-01-07 15:46] chaals commented on #116
All of these proposals merely assert that there is a contract. None of them demonstrate for any practical purpose that it is "legally binding".

Any contract is trivially "legally binding", by definition. But that only means that provisions it contains that are legal are subject to judgement by a court. Until a court decides that the terms of the contract are enforceable, that's nothing more than

[2022-01-07 15:55] chaals commented on #121
Not really. In reading the document, it seems to provide some series of related steps, with expected inputs and outputs, many carried from one step to another, that only serve a real purpose when combined and carried out in the order they are given.

That's essentially what an algorithm is.

Instead of detailing each step as a separate requirement, one could say:

"procedure X must be executed acc

[2022-01-07 18:36] Therecanbeonlyone1969 commented on #116
@chaals ... only a contract signed by all required counterparties is legally binding, an unsigned contract is not. Hence, and to anticipate compliance requests, "legally binding" was added on purpose. Since building off this, as the genesis state so to speak,, commercially viable and audit-compliant workflows can be built.

[2022-01-07 18:46] Therecanbeonlyone1969 commented on #121
@chaals we then have a different definition of algorithms. But that is ok. I think you have a workflow in mind rather than an algorithm that shows the sequence of steps from beginning to end with inputs and outputs rather than a formal algorithm. But I am guessing here.

I invite you to make a PR with what you have in mind.

[2022-01-13 15:17] #99 closed

[2022-01-13 15:56] humbitious commented on #119
@chaals, you make a very good point here, and we discussed this on the 2021 standards meetings extensively under Anais' direction.  The compromise was to add this section to cover specifically the case of legal contracts (because the technical requirements in that case are more stringent), but there is no question -- and your observation confirms this -- that a new or casual reader of the standard

[2022-01-27 15:18] Therecanbeonlyone1969 commented on #117
@chaals ... per decision in WG meeting on 1/27 ... either reply to the response above or the issue will be closed at the next WG meeting.

[2022-01-27 15:23] Therecanbeonlyone1969 commented on #125
@chaals ... per decision in the WG meeting, please, respond to the above response. Otherwise, the issue will be closed at the next WG meeting.

[2022-01-27 15:27] Therecanbeonlyone1969 commented on #120
@chaals ... per decision in the WG meeting, please, respond to the above response. Otherwise, the issue will be closed at the next WG meeting.

[2022-01-27 15:40] Therecanbeonlyone1969 commented on #119
@chaals ... per decision in the WG meeting, please, respond to the above response. Otherwise, the issue will be closed at the next WG meeting.

[2022-01-27 22:42] chaals commented on #119
If a Commercial Document is a type of Document (as you define them) then anything that applies to a Document applies to a Commercial Document. Which means you can say "Document" and it's clear.

If people are misreading and misunderstanding, there is real work to do on making sure we're agreeing on what we read, before we can decide if it's good enough for a release.

[2022-01-28 01:57] Therecanbeonlyone1969 commented on #119
@chaals ... point taken. Submitted PR #126 that removes (commercial) and (commercially) everywhere.

[2022-02-01 21:41] chaals commented on #116
As a general statement, this is not true.

While jurisdictions vary, it is a widespread practice that a contract is essentially an agreement that provides for exchange of value under some set of terms. Verbal contracts are legally binding in the general case, and certain patterns of behaviour (e.g. going through an online process that sets up a request for something in exchange for an offer of pay

[2022-02-01 21:51] chaals commented on #116
In general, the requirement is a demonstration that the parties agreed on something. This is often established by showing that they respectively handed over, and accepted money. Disputes generally arise about precisely what was agreed, not whether there was a contract of some kind.

This requirement seems to duplicate R1 and extend it, but the insistence that the agreement be a "legally binding co

[2022-02-01 21:59] chaals commented on #115
I cannot find the implementation guide. I would like a pointer, and two more weeks, to understand this before the issue is closed, please

[2022-02-01 22:22] chaals commented on #120
Proposed #127 to address R96. I am not sure that R97 is as easy to fix.

I understand the goal of not providing specific numbers, but instead we provide no concrete guidance.

Providing minimum numbers would at least enable developers and users to share expectations of scalability, and so understand where problems are not going to occur, and under what conditions they need to think some more. This

[2022-02-01 22:24] chaals commented on #125
I disagree that the complex phrase used helps anyone to understand, and I disagree that it is less confusing than the term "oracle" (which we can define, to help reduce confusion among the people who read the glossary).

But this is an editorial decision, so with my disagreement noted I won't continue the discussion.

[2022-02-01 22:25] chaals commented on #118
I disagree, but this is an editorial decision. I won't continue the discussion.

[2022-02-01 22:40] chaals opened #129 "Are R5, R8, and R9 redundant?"
R5 requires that a "commercial document" is legally binding, R8 that it is signed by authorised parties, and R9 that it is non-repudiable.

For a contract between parties to hold, the agreement must be made between those parties, and where they are organisations rather than physical people, there needs to be at least reasonable belief that the individuals acting are doing so with authority. Otherw

[2022-02-01 22:45] chaals opened #130 "Tighten up use of "commercial document""
In general, "commercial document" is a term used with a defined meaning.

This meaning should be in the glossary. It would also help immensely if there were a clear example given at its definition, such as a Purchase Order or Invoice. That is what I understand is meant from reading the spec, and is given as an example when the term is used.

Also, in the text of section 2.3 it is used in what appe

[2022-02-05 19:19] atoulme opened #132 "Use of "Systems of Record" in 1. Introduction"
The specification refers to "Systems of Record", as a capitalized term, without definition. Please provide a definition for the term or use the wording provided in the abstract.

[2022-02-05 19:30] atoulme opened #133 "Clarify section 2.3"
This section documents commercial and legal binding contracts, but it's unclear to me why this is specified.

For example, I could see contracts and agreements with no commercial binding legal documents take place inside a company.

Companies responding to bids, tenders, and requests for proposal may also interact without a commercial agreement in place.

It appears non-disclosure agreements could

[2022-02-05 19:39] atoulme commented on #119
I agree, upon reading the spec, that the mention of (commercial) is not needed. There are also instances of `(business)` in the introduction that could be removed.

[2022-02-05 19:45] atoulme opened #134 "R12 requirement is not prescriptive enough"
R12 states "A BPI MUST support cryptographic algorithms based on commonly used and security-audited libraries."

Is there a way to be more precise here? Can this refer to controls that are more specific to the use of cryptography in Baseline?

[2022-02-05 19:46] atoulme commented on #134
R14 feels more adequate and precise than R12.

[2022-02-05 19:48] atoulme opened #135 "R17 is vague"
It is not easy to understand the ramifications of requirement R17.

`[](https://github.com/eea-oasis/baseline-standard/blob/main/core/baseline-core-v1.0-psd01.md#r18)A BPI MUST be able to provide privacy of the (commercial) counterparties' data concerning any party outside of the BPI.`

Does that mean that privacy is an optional element? Can we be more precise in our language here?

[2022-02-05 19:52] atoulme opened #136 "R19 is vague"
R19 states:

[code]

This doesn't feel detailed enough. Would it be possible to remove or refine this requirement so it may be better interpreted by implementers?

[2022-02-05 19:56] atoulme opened #137 "R22 - define publicly accessible manner"
R22 states `Commercial Counterparties MUST publish their level of conformity (self-declaration or certification) with the Baseline Protocol Standard in a publicly accessible manner.`

Who offers certification at this time? The document does not define the certification process or requirements.
What does self-declaration consist of?

What does publicly accessible manner mean in this context? Is acc

[2022-02-05 19:58] atoulme opened #138 "2.6.2 paragraph on OFAC"
2.6.2 starts with this paragraph:
[code]

Would it be possible to understand why this is stated? How does this relate to operations in other regions of the world?
I note this does not come with a formal requirement. Is that on purpose?

[2022-02-05 20:08] atoulme opened #139 "Unclear how to implement R23"
R23 states:
[code]

It is not clear where this requirement applies as it actually depends on external privacy or regulatory frameworks. It would be good to define whether a jurisdiction applies to a counterparty.

It's unclear to me what the `pseudonymous map of the supply chain` is. Is it a document, a graphic, a report?
What does a counterparty needs to do with such a map? Where should it be rec

[2022-02-05 20:09] atoulme opened #140 "2.7.1 Use of System-of-Record"
The paragraph opening 2.7.1 mentions "System-of-Record" when the term "System of Record" is defined in the glossary.

[2022-02-05 20:21] atoulme opened #141 "Simplify requirement D10"
Requirement D10 states:

[code]

I propose that both sentences become one, without the use of the word decentralized:

[code]

I would drop the word possibly:

[code]

I would want to use a positive definition rather than a negative definition:
[code]

Please discuss - as you can see, I am interpreting the requirement as I try to clarify it.

[2022-02-05 23:24] atoulme opened #142 "3.1 Principal Owner definition"
3.1 states `A Principal Owner is defined as the entity controlling the public key(s) which control the identity and its identifiers upon inception of the identity.`

Should it be private keys? Does this imply that we will only use asymmetric cryptography? Please clarify.

[2022-02-05 23:35] atoulme opened #143 "D13 Legal Entity"
D13 uses the term `(Legal) Entity`. I don't understand why legal is placed in parens. The next line offers a definition of Legal Entity:
`In the context of this document, a Legal Entity is an individual, organization, or company that has legal rights and obligations.
`

Should the definition be moved to the glossary? It is also used in R9 with no definition.

[2022-02-05 23:37] atoulme opened #144 "D13 self issued"
D13 states: `Note that credentials utilized within one or more BPIs may be self-issued.`

Isn't that what CR4>D11 implies though? All credentials must be generated by the principal owner.

[2022-02-05 23:42] atoulme opened #145 "D10 and D15 duplicates?"
D10 states:
`The Public Key Infrastructure (PKI) of a BPI SHOULD be decentralized.

Decentralized in this context means that there is no single point of failure in the PKI where possibly no participants are known to one another.`

D15 states:
`A credential utilized within one or more BPIs SHOULD be discoverable by a participant in said BPI(s).`

Are those requirements duplicates?

[2022-02-05 23:48] atoulme opened #146 "R47 credential holder definition"
R47 states `See the W3C Verifiable Credential Standard [[W3C VC]](https://github.com/eea-oasis/baseline-standard/blob/main/core/baseline-core-v1.0-psd01.md#w3c-vc) for a definition of credential holder.`

Upon searching the document linked, no definition of credential holder appears (the term "credential holder" is not present in the document ?!).

The specification linked defines the term "holder

[2022-02-05 23:54] atoulme opened #147 "R55 is vague"
R55 does not define all the functionalities an API portal must support, instead enumerating a number of features, and finishing with etc. It would be good to list a finite number of functionalities that must be supported.

[2022-02-05 23:57] atoulme opened #148 "Propose to delete R56 or reformulate"
R56 states: `BPI Abstraction Layers MUST support an API Gateway with a low latency cache where low latency refers to a cache latency that does not impact the overall BPI system latency.`

This is too prescriptive as to how to perform low latency operations. Instead, the requirement should explain that the API gateway must operate with low latency.

Second low latency here is not defined with a mea

[2022-02-06 04:39] atoulme opened #149 "R81 : elicit audit trail"
R81 states: `A BPI Subject Account MUST have a cryptographically verifiable audit trail from BPI Subject Account inception to its closure.`

Would you please clarify what a cryptographically veriable audit trail means here?
Does the audit trail contain the list of all the operations done by the BPI Subject Account? Does it contain all inbound requests as well? Does it contain successes and failure

[2022-02-06 04:42] atoulme opened #150 "R82: clarify key encryption"
R82 states: `A BPI Subject Account MUST be encrypted to and decrypted by one or more cryptographic keys only known to the BPI Subject Account holder.`

Does this mean that the account can be encrypted by multiple keys at once? Or does it mean that it can be encrypted by one of the keys available, using a criteria left to the implementer?

[2022-02-06 04:45] atoulme opened #151 "D19 - Explain BPI Subject Session"
D19 states: `A BPI Subject Account SHOULD be re-encrypted after every BPI Subject session to one or more cryptographic keys only known to the BPI Subject Account holder.`

BPI Subject Session is not explained. Implicit to this requirement is that the BPI subject account is explicitly decrypted at the beginning of the session, and available for the whole duration of the session. Would you please pr

[2022-02-06 04:52] atoulme opened #152 "5.3 Define BPI service orchestration"
Would you please provide a definition of BPI service orchestration? It is unclear what it entails.

Separately, this paragraph states:
`BPI service orchestration is geared towards high-volume, low latency environments with many data changes.`

Due to the qualitative nature of the statement, it is hard to understand the requirements as an implementer.

[2022-02-06 04:52] atoulme opened #153 "5.3 Dead link"
5.3 has a dead link to https://github.com/eea-oasis/baseline-standard/blob/main/core/baseline-core-v1.0-psd01.md#28-baseline-protocol-reference-architecture, it should be https://github.com/eea-oasis/baseline-standard/blob/main/core/baseline-core-v1.0-psd01.md#27-baseline-protocol-reference-architecture instead.

[2022-02-06 04:54] atoulme opened #154 "Simplify R87"
R87 states: ```BPI service orchestration utilized in a BPI MUST be semantically aware.

Semantically aware means that BPI service orchestration can identify the actions to be completed by services based on message context and content, and successfully orchestrate the desired action.```

Would it be possible to simplify this requirement by connecting the two sentences as:

```BPI service orchestrat

[2022-02-06 04:56] atoulme opened #155 "R88 Define point of failure"
R88 states: `BPI service orchestration utilized in a BPI MUST NOT introduce additional points of failure.`

Would you please help define points of failure?

[2022-02-06 05:02] atoulme opened #156 "R91 Clarification"
R91 states: `BPI service orchestration utilized in a BPI MUST capture the exact order in which operations happened.`

Does this imply that operations are sequential or ordered and cannot execute in parallel? Please help clarify.

[2022-02-06 05:06] atoulme opened #157 "R96 Clarification"
R96 states: `BPI service orchestration utilized in a BPI MUST have low latency.`

Here low latency is not defined. It is unclear if it has an upper bound of the order of 15 seconds, 100 milliseconds, or lower.

Please help clarify.

[2022-02-06 05:08] atoulme opened #158 "R97 Clarification"
R97 states `BPI service orchestration utilized in a BPI MUST be scalable and highly available.`

Please help clarify scalability and high availability requirements.
Should the system be able to handle up to 1 million concurrent requests per second?
Should the system be highly available to match 5 9's uptime?
Are upgrades and operations maintenance operations appropriate, or should the system be co

[2022-02-06 05:13] atoulme opened #159 "R99 and R103: contradiction"
R99 states: `BPI communication protocols MUST be asynchronous.`
R103 states: `For synchronous BPI messaging between BPIs, a BPI MUST utilize HTTPS RFC2818.`

It seems those two requirements contradict each other. Please help clarify.

[2022-02-06 05:16] atoulme opened #160 "R105: Clarify JOSE"
R105 states: `All BPI envelope level formats MUST be achieved through JOSE-based structures see [R106] and [R107].`

Please pardon my ignorance. It would be great to spell out this acronym, as a quick search doesn't turn up much.

[2022-02-06 05:27] atoulme opened #161 "R106 typo"
R106 contains an extraneous opening square bracket.

[2022-02-06 05:30] atoulme opened #162 "R107 Signed JSON Web Token should be JSON Web Signature"
R107 mentions `Signed JSON Web Token (JWS) structure` tied to RFC7515, but this RFC defines a JSON Web Signature.

[2022-02-06 05:34] atoulme opened #163 "D20 Intention unclear"
D20 states: `A JWS may be used for establishing a secure tunnel between BPIs to reduce the number of messages required.`

It is unclear how this relates to the rest of the requirement. It's also unclear when or where the tunnel technique is useful here. Finally, it's unclear how this reduces the number of messages required. Are they required for authentication and authorization, or something else?

[2022-02-06 05:36] atoulme opened #164 "D21 mention of the W3C DID document"
D21 states: `The digital signature used for the JWS and JWE of a BPI Message SHOULD be based on the public keys associated with a W3C DID in the W3C DID document.`

Would you please clarify what W3C DID Document is referred on here?

[2022-02-06 05:46] atoulme opened #165 "R119 repeat of sentence"
The sentence right before R119 is a repeat of the requirement, and can be removed.

[2022-02-06 05:49] atoulme opened #166 "R120 BPI Service specification"
Requirement R120 introduces the notion of `BPI Service specification`, but does not define it. Is it what is defined in R119?

[2022-02-06 05:49] atoulme commented on #166
Furthermore, should it keep tally of all updates or only reference the last update timestamp? The requirement is unclear on that front.

[2022-02-06 05:56] atoulme opened #167 "R124 define succinct"
R124 states `The zero-knowledge proof of correctness of a state object utilized in one or more mono-directional and/or bi-/multi-directional BPI Services MUST be succinct.`

This requirement is qualitative. Would you please clarify using specific quantities, such as 2 megabytes, 100 kilobytes?

[2022-02-06 06:30] atoulme opened #168 "R135 seems to duplicate R13"
R13 defines a requirement for end-to-end encryption, and R135 states `Privacy-preserving in this context means that all communications are end-to-end encrypted independent of the security properties of the transportation layer.`

[2022-02-06 06:52] atoulme commented on #167
D26 is also showing the same issue.

[2022-02-06 06:57] atoulme opened #169 "R241 Define workgroup archival"
R241 states that it is possible to `archive a workgroup`. Please help clarify what workgroup archival means.

[2022-02-24 15:09] GoldenBit0 commented on #129
2/24/22 Standards Call:
@Therecanbeonlyone1969 please address

[2022-02-24 15:10] GoldenBit0 commented on #130
2/24/22 Standards Call:
Pending response

[2022-02-24 15:11] GoldenBit0 commented on #132
2/24/22 Standards Call:
Editorial suggestion

[2022-02-24 15:17] GoldenBit0 commented on #133
2/24/22 Standards Call:

- Issue also addressed here, https://github.com/eea-oasis/baseline-standard/issues/130
- Needs to be addressed

[2022-02-24 15:18] chaals commented on #134
Agree R14 is better, but that's also pretty vague. Certainly there is no obvious need for both.

[2022-02-24 15:26] chaals commented on #135
What if we clarify what the counterparties' data concerning any party outside the BPI means?

The BPI MUST not provide any information that identifies a third party, not participant. How does the BPI know that? Is this a requirement that should be placed on usage?

[2022-02-24 15:27] chaals commented on #136
Suggest we remove this. It basically boils down to "are you dealing with a reasonable counter-party?" and that's a commercial decision not an implementation one in any way I can see.

[2022-02-24 15:32] chaals commented on #137
This seems more like deployment guidance for keeping your self secure. if people don't want to publicly tell the world which bits they get wrong, but are prepared to share that privately with a counterparty that seems more useful than encouraging exaggerated claims of conformance that will be open to public scrutiny...

[2022-02-24 15:34] chaals commented on #138
This seems like deployment guidance not a normative spec requirement. Agree that it makes sense to describe it better fr the rest of the world.

[2022-02-24 15:42] Kasshern commented on #135
Clarification does seem to be needed.

I originally interpreted this as requiring the BPI to ensure the privacy of the participating counterparties' data from sniffing of parties that exist outside of the BPI in question.  It is clear that others are interpreting this requirement as ensuring data communicated by the participating counterparties within the BPI does not reveal the data/identity of t

[2022-02-24 15:43] chaals commented on #140
Rewriting this sentence might help.  I'm not sure how to read "existing system of record integrations"...

[2022-02-24 15:44] chaals commented on #141
Agree with Antine's final rewording proposal.

[2022-02-24 15:48] chaals commented on #142
I think control of the public key is the core feature of a "principal owner". Which means R34 is redundant.

Not sure why it is "at the inception of the identity" that this matters, since it seems more relevant who is in control at the time the identity is *used*.

[2022-02-24 15:52] chaals commented on #143
As described, this is using "legal entity" in line with normal understanding, so removing the "in the context of this document..." sentence doesn't seem to change anything. (Another common term meaning this is "legal person")

[2022-02-24 15:53] Kasshern commented on #140
I believe this is due to the use of "Systems of Record" as a compound adjective, therefore becoming Systems-of-Record.

Although in 7.4 the compound adjective "system-of-record" is used.

Some reconciliation of letter casing within these compound adjectives should likely occur.

[2022-02-24 15:58] chaals commented on #145
I don't think so. (I do think there is some other redundancy around D15 but I need to find time to raise the issue)

[2022-03-10 15:23] Therecanbeonlyone1969 commented on #113
can be closed

[2022-03-10 15:23] #113 closed

[2022-03-10 15:42] Therecanbeonlyone1969 commented on #146
will link term directly to W3C definitionv-> in PR

[2022-03-10 15:57] chaals opened #170 "Style requirement text to distinguish"
Some visual distinction between the text of a requirement, and explanatory text, would make it easier to read (because you don't have to interpret afterwards which bit was the requirement and what was non-requirement explanation.

[2022-03-10 18:32] Therecanbeonlyone1969 opened #171 "Differentiate requirements visibly from rest of the text"
Standards WG agreed on italicizing requirements to visually differentiate them from the rest of the text.

[2022-03-10 18:32] Therecanbeonlyone1969 commented on #171
@kasshern ... here you go

[2022-03-11 15:49] #171 closed

[2022-03-24 13:48] cybereum commented on #116
There is no statutory definition of a legally binding document in common law systems such as the US or UK. In common law systems, verifiable, specific, criteria signifying offer, acceptance, and consideration can make a contract legally binding in a court of law. However, while it is true that it is for the courts in the jurisdiction of application to decide if a contract can be construed as legal

[2022-03-30 21:56] #125 closed

[2022-03-30 21:57] Therecanbeonlyone1969 commented on #153
@atoulme ... will update in an upcoming PR. Thank you!

[2022-03-30 22:06] Therecanbeonlyone1969 commented on #155
How about this @atoulme ? cc @chaals @humbitious

In the context of this document, a point of failure is defined as any non-redundant part of a BPI that, if not operational, would cause a BPI to fail.

[2022-03-30 22:10] #117 closed

[2022-03-30 22:21] Therecanbeonlyone1969 commented on #156
@atoulme ... how about this? cc @chaals @humbitious

In the context of this document, operations in a BPI service orchestration do not necessarily have to be causally connected to be ordered by the BPI service orchestration. For example, if operation 1, the creation of an invoice between Alice and Bob in a BPI, is received by the BPI service orchestration of a BPI before operation 2, the creation

[2022-03-30 22:27] Therecanbeonlyone1969 commented on #154
@atoulme ... fine with me. @chaals @humbitious any comments?

[2022-03-30 22:40] Therecanbeonlyone1969 commented on #152
@atoulme ... how about this? cc @chaals @humbitious

BPI service orchestration is intended to operate in a business environment with high service volume (many BPI service requests), low system latency (fast completion of BPI service requests by a BPI required), and where BPI service requests change BPI data often.

This document defines service orchestration as the sequence and conditions organize

[2022-03-30 22:50] Therecanbeonlyone1969 commented on #151
@atoulme ... how about this? cc @chaals @humbitious

[D19] A BPI Subject Account SHOULD be encrypted when not in active use by the BPI Subject that owns the BPI Subject Account.

[2022-03-30 22:56] Therecanbeonlyone1969 commented on #150
@atoulme ... how about this? cc @chaals @humbitious

[R82] A BPI Subject Account MUST be encrypted to and decrypted by a cryptographic key only known to the BPI Subject Account owner.

[2022-03-31 04:09] atoulme commented on #152
Looks good, I would swap the two paragraphs.

[2022-03-31 04:14] atoulme commented on #156
OK, that's clearer.

[2022-03-31 04:33] atoulme commented on #155
OK.

[2022-04-07 14:40] Therecanbeonlyone1969 commented on #159
@atoulme ... R99 talks about communication protocols within a BPI while communication between BPIs may be either synchronous or asynchronous as R103 talks about communication between BPIs.

Clarifying intro sentence to R98 - R101 `This leads to the following core capability requirements:` to `This leads to the following core capability requirements within a BPI:`

Also replacing `The layers are de

[2022-04-07 14:43] Therecanbeonlyone1969 commented on #160
@atoulme adding the following sentence: `Note that JOSE stands for JSON Object Signing and Encryption.`

[2022-04-07 14:50] Therecanbeonlyone1969 commented on #162
@atoulme forgot to add RFC7519 as the definition of JSON Web Token

`[R107] The signed unencrypted format MUST use a Signed JSON Web Token (JWS) structure following RFC7519 and following [[RFC7515](https://github.com/eea-oasis/baseline-standard/blob/main/core/baseline-core-v1.0-psd01.md#rfc7515)] for its digital signature.`

Good enough?

[2022-04-07 14:52] Therecanbeonlyone1969 commented on #163
@atoulme indeed not clear. It should read:

`A JWS may be used for initial authentication and authorization between BPIs.`

Good enough?

[2022-04-07 14:57] Therecanbeonlyone1969 commented on #165
@atoulme point taken. Will remove.

[2022-04-07 16:13] #170 closed

[2022-04-08 23:17] atoulme commented on #163
That clarifies the discussion, thanks.

[2022-04-08 23:17] atoulme commented on #162
OK!

[2022-04-08 23:18] atoulme commented on #160
OK thank you

[2022-04-08 23:18] atoulme commented on #159
OK thank you.

[2022-04-20 00:56] Therecanbeonlyone1969 commented on #166
@atoulme yes, the BPI service is defined in D24 -> we could make it MUST and say that this is the minimal definition. Thoughts?

And R120, yes, it should include the history of "update" time stamps. Will clarify!

[code]
Is the above good enough?

[2022-04-20 01:00] Therecanbeonlyone1969 commented on #168
@atoulme ah yes, this might appear that way. However, R13 refers to the BPI internal communication, and R135 refers to communication between BPIs since it is in the interop section.

Does that make sense or do you want an explicit reference to R13 below R135 for clarification?

[2022-04-20 01:20] Therecanbeonlyone1969 commented on #169
@atoulme ... good catch. how about this?

Archiving a workgroup in the context of this document means, that a workgroup cannot be actively used anymore. However, the workgroup data structures and associated data are accessible at any time but only by the participants of the archived workgroup.

[2022-04-20 04:05] atoulme commented on #169
OK that works.

[2022-04-20 04:07] atoulme commented on #167
Yes, that's a pretty strong requirement to me.

[2022-04-20 04:09] atoulme commented on #166
Oh ok yes I think that makes sense.

[2022-04-20 04:17] atoulme commented on #168
No strong opinion, should be fine as is.

[2022-04-20 18:40] Therecanbeonlyone1969 commented on #168
ok. then I will close the issue.

[2022-04-20 18:40] #168 closed

[2022-04-20 19:29] Therecanbeonlyone1969 commented on #164
@atoulme DID document examples can be found here ... https://www.w3.org/TR/did-core/#did-documents ... will update language  of D21 and accompanying text accordingly.

[2022-04-20 22:01] Therecanbeonlyone1969 commented on #158
@chaals thank you for providing the definition.

[2022-04-20 22:06] Therecanbeonlyone1969 commented on #157
Was already addressed in the last PR by @chaals ... will close

[2022-04-20 22:06] #157 closed

[2022-05-25 18:47] #167 closed

[2022-05-25 18:50] Therecanbeonlyone1969 commented on #159
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:50] #162 closed

[2022-05-25 18:51] Therecanbeonlyone1969 commented on #163
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:51] #163 closed

[2022-05-25 18:51] Therecanbeonlyone1969 commented on #165
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:51] #165 closed

[2022-05-25 18:52] Therecanbeonlyone1969 commented on #161
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:54] Therecanbeonlyone1969 commented on #156
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:54] #156 closed

[2022-05-25 18:55] Therecanbeonlyone1969 commented on #153
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:55] #153 closed

[2022-05-25 18:55] Therecanbeonlyone1969 commented on #151
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:56] Therecanbeonlyone1969 commented on #150
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:56] #150 closed

[2022-05-25 18:56] Therecanbeonlyone1969 commented on #149
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:56] #149 closed

[2022-05-25 18:56] Therecanbeonlyone1969 commented on #148
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:56] Therecanbeonlyone1969 commented on #147
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:56] #147 closed

[2022-05-25 18:57] Therecanbeonlyone1969 commented on #146
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:57] #146 closed

[2022-05-25 18:57] Therecanbeonlyone1969 commented on #145
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:57] #145 closed

[2022-05-25 18:58] Therecanbeonlyone1969 commented on #143
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:58] #143 closed

[2022-05-25 18:58] Therecanbeonlyone1969 commented on #141
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:58] #141 closed

[2022-05-25 18:59] Therecanbeonlyone1969 commented on #140
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:59] #140 closed

[2022-05-25 18:59] Therecanbeonlyone1969 commented on #139
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:59] #139 closed

[2022-05-25 18:59] Therecanbeonlyone1969 commented on #138
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 18:59] #138 closed

[2022-05-25 19:01] #136 closed

[2022-05-25 19:01] Therecanbeonlyone1969 commented on #135
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 19:01] #135 closed

[2022-05-25 19:01] Therecanbeonlyone1969 commented on #134
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 19:02] #133 closed

[2022-05-25 19:03] Therecanbeonlyone1969 commented on #132
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 19:03] #132 closed

[2022-05-25 19:03] Therecanbeonlyone1969 commented on #130
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 19:03] #130 closed

[2022-05-25 19:03] Therecanbeonlyone1969 commented on #129
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 19:03] #129 closed, assigned to Therecanbeonlyone1969

[2022-05-25 19:04] Therecanbeonlyone1969 commented on #116
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173

[2022-05-25 19:04] #116 closed

[2022-05-25 19:04] Therecanbeonlyone1969 commented on #120
Closing. PR Merged

[2022-05-25 19:04] #120 closed

[2022-05-25 19:07] Therecanbeonlyone1969 commented on #164
Closing. Addressed with merged PR https://github.com/eea-oasis/baseline-standard/pull/173 ... see https://github.com/eea-oasis/baseline-standard/blob/main/core/baseline-core-v1.0-psd01.md#d21

[2022-05-25 19:07] #164 closed

[2022-05-25 19:27] Therecanbeonlyone1969 commented on #142
@atoulme sorry for the oversight in addressing your question. Yes, it does imply that.

@chaals R34 is not redundant because it refers to identifiers and identities in the context of a BPI whereas a Principal Owner is merely a definition not a requirement. One could reformulate R34 as
` The identifiers and identity utilized in a BPI MUST have a Principal Owner.` ... but that is splitting hairs

[2022-05-25 19:30] Therecanbeonlyone1969 commented on #142
added definition of Principal Owner to Glossary in #174

[2022-05-25 19:33] kthomas commented on #142
Having control of the public key is part of being a Principal Owner, no doubt.

If a key gets compromised, does that make those (or the general public in extreme cases) Principal Owners?

This is really splitting hairs at this point perhaps :)

[2022-05-25 19:54] Therecanbeonlyone1969 commented on #142
@kthomas agreed

[2022-07-04 16:49] Therecanbeonlyone1969 commented on #137
Defined Publicly Accessible here in this [PR](https://github.com/eea-oasis/baseline-standard/pull/174)

The spec defines different conformance levels, and R22 gives options on how to publish conformance ... the manner of which can be freely chosen by the counterparties depending on convenience and availability. It is important if counterparties operate their own BPI that other counterparties inter

[2022-07-04 16:52] Therecanbeonlyone1969 commented on #121
Stale issue -> closing for the time being.

[2022-07-04 16:52] #121 closed

[2022-07-04 16:53] Therecanbeonlyone1969 commented on #115
stale issue -> closing for the time being

[2022-07-04 16:53] #115 closed

[2022-07-04 16:54] Therecanbeonlyone1969 commented on #107
given the changes since November, and final pending PR, renaming issue

[2022-08-01 18:25] Therecanbeonlyone1969 commented on #144
Question answered. Closing issue

[2022-08-01 18:25] #144 closed

[2022-08-01 18:27] Therecanbeonlyone1969 commented on #137
Questions and comments answered. Closing issue.

[2022-08-01 18:27] #137 closed

[2022-08-01 18:28] Therecanbeonlyone1969 commented on #142
Question answered and included in merged PR #174 . Closing issue.

[2022-08-01 18:28] #142 closed

[2022-08-24 18:53] Kasshern opened #181 "Add alt attributes to all images"
Add alt attributes to all images lacking explanation text, or to clarify how the surrounding text explains the image.

(In some cases alt="" is appropriate, because the figurecaption provides the relevant information).

@chaals has done the first couple of images in #180, but this is necessary for all of them.

[2022-09-22 20:53] Therecanbeonlyone1969 commented on #181
done

[2022-09-22 20:53] #181 closed